.box {
	margin-top: 60px;
	background: #fff;
}

.box-head {
	display: flex;
	padding: 10px 40px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.box-card-con {
	display: flex;
	margin: 0px 40px;
	border: 1px solid #e1e3e4;
	border-radius: 5px;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.box-htext{
  color: var(--mid-green)
}

.box-card-con::-webkit-scrollbar {
	display: none;
}

.box-header {
	font-weight: bold;
	font-size: 22px;
}
