.loginTab .login_or::before,
.login_or::after {
	margin: 5px;
	content: "";
	border-top: 2px solid var(--text);
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	height: 1px;
}

.loginTab a {
	text-decoration: none;
	color: inherit;
}

.loginTab {
	font-family: "Source Sans Pro", sans-serif;
	margin-bottom: 1rem;
	min-width: 200px;
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0px 0px;
}

.loginTab h1 {
	font-family: "JetBrains Mono", monospace;
	margin-bottom: 10px;
}

.loginTab p {
	padding-bottom: 20px;
}

.loginTab_form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	max-width: 400px;
}

.loginTab_form input {
	padding: 12px 18px;
	margin-bottom: 1rem;
	width: 90%;
}

.loginTab_form button {
	cursor: pointer;
	border: none;
	color: var(--mid-gray);
	background-color: var(--ft-light);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	padding: 10px 16px;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.loginTab_form button:hover {
	border: 2px solid var(--ft-light);
	background-color: transparent;
	color: var(--ft-light);
}

.loginTab_signin_options {
	display: flex;
	flex-direction: column;
}

.loginTab_signin_options button {
	cursor: pointer;
	border-radius: 15px;
	border: 2px solid var(--ft-light);
	color: var(--ft-light);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	padding: 10px 15px;
	width: 20%;
	margin-bottom: 0.8rem;
}

.loginTab_lower_div p {
	font-family: "Source Sans Pro", sans-serif;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}
