.mobileDropdown .dropDown_item{
    background-color: var(--mid-gray);
    display: flex;
    flex-direction: column;

}

.mobileDropdown .dropDown_head{
    padding: 10px 15px;
    background-color: var(--ft-light);
    color: var(--mid-gray);
    display: flex;
    justify-content: space-between;
}

.mobileDropdown .dropDown_head img{
    object-fit: contain;
    height: 10;

}

.mobileDropdown .dropDown_head .upsideDown_arrow{
    transform: rotate(180deg);
}
.dropDown_item a{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text);
}